.box{
    width: 300px;
    border: 15px solid rgb(86, 190, 86);
    padding: 50px;
    margin: 20px;
}
.center{
    text-align: center;
}
.img-circle{
    border-radius: 50%;
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.img-circle-small-size{
  border-radius: 50%;
  height: 10vh;
  width: 10vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }
body{
    background-image: url("../Pictures/cqhO8rQ.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}

/* Modal popUP */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */


    
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
     
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }



  .Modal_contin{

  }
 
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-rows: auto auto auto; */
    grid-template-areas:
        'img img Name Name ClickBtn'
        'img img Flavor Flavor Flavor'
        'img img Hp Hp Hp'
        'Ability Ability Ability Poke_height Poke_weight'
        'FamilyTitle FamilyTitle FamilyTitle FamilyTitle FamilyTitle'
        'Familyimg Familyimg FamilyName FamilyName FamilyName';

    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    box-shadow: 2px 5px #f6fbfb;
    border: 2px solid rgb(253, 228, 0);
    border-radius: 50px 20px;
   }

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    /* padding: 20px 0; */
    /* font-size: 15px; */
}

.Poke_img {
    grid-area: img;
    font-weight: bold;
}

.Poke_Name1 {
    grid-area: Name;
    font-weight: bold;
    font-size: 50px;
}
 

.Poke_flavor_text {
    grid-area: Flavor;
    font-weight: bold;

}

.Poke_stats {
    grid-area: Hp;
    font-weight: bold;

}

.Poke_Ability {
    grid-area: Ability;
    font-weight: bold;

}
.Poke_height{
    grid-area: Poke_height;
    font-weight: bold;


}
.Poke_weight{
    grid-area: Poke_weight;
    font-weight: bold;


}

.FamilyTitle_container {
    grid-area: FamilyTitle;
    font-weight: bold;
    font-size: 50px;


}

.FamilyImg {
    grid-area: Familyimg;
    font-weight: bold;
    font-size: 50px;


}

.FamilyName {
    grid-area: FamilyName;
    font-weight: bold;
    font-size: 50px;


}

.img-circle-small-size {
    border-radius: 50%;
    height: 20vh;
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ClickBtn{
  grid-area:ClickBtn;
}
.button1{
  background-color: aquamarine;
  padding: 10px 10px;
  border-radius: 10%;
  border: 3px solid black;

}